* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: white;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* Website style starts here */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: #ffff;
}

h3 {
  font-size: 24px;
  font-weight: lighter;
}

p {
  font-size: 18px;
}

/* Mobile */
@media only screen and (min-width: 375px) and (max-width: 1440px) {
  body {
    background: url("../images/bg-mobile.svg") no-repeat, hsl(257, 40%, 49%);
  }

  .logo-img {
    max-width: 40%;
    padding-top: 30px;
    margin-left: 45px;
  }

  .content {
    text-align: center;
  }

  .content,
  h2 {
    padding: 70px 0 20px 0;
  }

  p {
    padding-bottom: 5px;
    content: \A;
    white-space: pre;
  }

  button {
    color: hsl(257, 40%, 49%);
    border: none;
    background-color: white;
    padding: 15px 90px;
    border-radius: 50px;
  }

  .button-link {
    color: hsl(257, 40%, 49%);
    text-decoration: none;
  }

  button:hover {
    background-color: hsl(300, 69%, 71%);
    color: white;
    cursor: pointer;
  }

  footer {
    text-align: center;
    padding: 40px 0 0 0;
    padding-bottom: 50px;
  }

  i {
    font-size: 16px;
    padding: 7px;
    margin: 0 0 5px 5px;
    border: 1px solid white;
    border-radius: 0.8em;
  }

  .illustration-mockups {
    width: 75%;
    height: auto;
  }
}

/*Desktop*/

@media only screen and (min-width: 1440px) {
  body {
    background: url("../images/bg-desktop.svg") no-repeat, hsl(257, 40%, 49%);
    background-size: cover;
  }

  button {
    color: hsl(257, 40%, 49%);
    border: none;
    font-size: 18px;
    background-color: white;
    padding: 15px 70px;
    border-radius: 50px;
  }

  .button-link {
    color: hsl(257, 40%, 49%);
    text-decoration: none;
  }

  button:hover {
    background-color: hsl(300, 69%, 71%);
    color: white;
    cursor: pointer;
  }

  .illustration-mockups {
    width: 45%;
    height: auto;
    float: left;
    padding: 30px 60px 60px 60px;
  }

  .logo-img {
    padding: 60px;
    width: 14%;
  }

  i {
    font-size: 26px;
    padding: 7px;
    margin: 0 0 20px 20px;
    border: 1px solid white;
    border-radius: 0.8em;
  }

  footer {
    float: left;
    position: absolute;
    top: 43.5em;
    right: 80px;
  }

  h2 {
    padding-top: 90px;
    padding-bottom: 20px;
    font-size: 42px;
    line-height: 70px;
    content: \A;
    white-space: pre;
  }

  p {
    padding-bottom: 30px;
    padding-top: 10px;
    display: inline-block;
    width: 27%;
  }
}
